include ../mixins/index

block variables
  - var title = 'Это мой сайт'
  - var h1_header = 'Это заголовок по умолчанию'
  - var description = 'Описание сайта по умолчанию'
  - var content = 'Это контент страницы по умолчанию'
  -
    var html = {
    attrs: {
    lang: 'ru'
    },
    classList: []
    }
  -
    var body = {
    attrs: {},
    classList: []
    }
  -
    var meta = {
    appleMobileWebAppCapable: null,
    appleMobileWebAppStatusBarStyle: null,
    appleMobileWebAppTitle: null,
    appleTouchFullscreen: null,
    applicationName: null,
    charset: 'utf-8',
    description: description,
    themeColor: '#ffffff',
    formatDetection: {
    address: true,
    date: true,
    email: true,
    telephone: true
    },
    keywords: ["Ключевые слова по умолчанию"],
    msapplicationTileColor: "#da532c",
    msapplicationTileImage: "/favicon/mstile-144x144.png",
    msapplicationNotification: null,
    msapplicationSquare70x70logo: null,
    msapplicationSquare150x150logo: null,
    msapplicationSquare310x310logo: null,
    msapplicationWide310x150logo: null,
    msapplicationConfig: "favicon/browserconfig.xml",
    viewport: 'width=device-width',
    XUACompatible: 'IE=edge'
    }
  -
    var link = {
    appleTouchIcon: null,
    appleTouchIcon40x40: null,
    appleTouchIcon57x57: 'favicon/apple-touch-icon-57x57.png',
    appleTouchIcon58x58: null,
    appleTouchIcon60x60: "favicon/apple-touch-icon-60x60.png",
    appleTouchIcon72x72: "favicon/apple-touch-icon-72x72.png",
    appleTouchIcon76x76: "favicon/apple-touch-icon-76x76.png",
    appleTouchIcon80x80: null,
    appleTouchIcon87x87: null,
    appleTouchIcon114x114: "favicon/apple-touch-icon-114x114.png",
    appleTouchIcon120x120: "favicon/apple-touch-icon-120x120.png",
    appleTouchIcon144x144: "favicon/apple-touch-icon-144x144.png",
    appleTouchIcon152x152: "favicon/apple-touch-icon-152x152.png",
    appleTouchIcon167x167: null,
    appleTouchIcon180x180: "favicon/apple-touch-icon-180x180.png",
    appleTouchIcon1024x1024: null,
    appleTouchIconPrecomposed: null,
    appleTouchIconPrecomposed40x40: null,
    appleTouchIconPrecomposed57x57: null,
    appleTouchIconPrecomposed58x58: null,
    appleTouchIconPrecomposed60x60: null,
    appleTouchIconPrecomposed72x72: null,
    appleTouchIconPrecomposed76x76: null,
    appleTouchIconPrecomposed80x80: null,
    appleTouchIconPrecomposed87x87: null,
    appleTouchIconPrecomposed114x114: null,
    appleTouchIconPrecomposed120x120: null,
    appleTouchIconPrecomposed144x144: null,
    appleTouchIconPrecomposed152x152: null,
    appleTouchIconPrecomposed167x167: null,
    appleTouchIconPrecomposed180x180: null,
    appleTouchIconPrecomposed1024x1024: null,
    icon: "favicon/favicon-32x32.png",
    icon16x16: "favicon/favicon-16x16.png",
    icon24x24: null,
    icon32x32: "favicon/favicon-32x32.png",
    icon64x64: null,
    icon48x48: null,
    icon96x96: null,
    icon128x128: null,
    icon192x192: "favicon/android-chrome-192x192.png",
    icon194x194: "favicon/favicon-194x194.png",
    icon196x196: null,
    icon256x256: null,
    icon512x512: null,
    manifest: "favicon/site.webmanifest",
    maskIcon: {
    href: null,
    color: null
    }
    }


doctype html
html(class=html.classList)&attributes(html.attrs)
  head
    block meta
      if meta.charset !== null
        meta(charset!=meta.charset)
      if meta.XUACompatible !== null
        meta(http-equiv="X-UA-Compatible" content!=meta.XUACompatible)
      if meta.viewport !== null
        meta(name="viewport" content!=meta.viewport)
      if meta.description !== null
        meta(name="description" content!=meta.description)
      if meta.keywords !== null && !(Array.isArray(meta.keywords) && !meta.keywords.length)
        meta(name="keywords" content!=(Array.isArray(meta.keywords) ? meta.keywords.join(', ') : meta.keywords))
      if meta.appleMobileWebAppCapable !== null
        meta(name="apple-mobile-web-app-capable" content!=meta.appleMobileWebAppCapable)
      if meta.appleMobileWebAppStatusBarStyle !== null
        meta(name="apple-mobile-web-app-status-bar-style" content!=meta.appleMobileWebAppStatusBarStyle)
      if meta.appleMobileWebAppTitle !== null
        meta(name="apple-mobile-web-app-title" content!=meta.appleMobileWebAppTitle)
      if meta.applicationName !== null
        meta(name="application-name" content!=meta.applicationName)
      if meta.msapplicationTileColor !== null
        meta(name="msapplication-TileColor" content!=meta.msapplicationTileColor)
      if meta.msapplicationTileImage !== null
        meta(name="msapplication-TileImage" content!=meta.msapplicationTileImage)
      if meta.msapplicationSquare70x70logo !== null
        meta(name="msapplication-square70x70logo" content!=meta.msapplicationSquare70x70logo)
      if meta.msapplicationSquare150x150logo !== null
        meta(name="msapplication-square150x150logo" content!=meta.msapplicationSquare150x150logo)
      if meta.msapplicationWide310x150logo !== null
        meta(name="msapplication-wide310x150logo" content!=meta.msapplicationWide310x150logo)
      if meta.msapplicationSquare310x310logo !== null
        meta(name="msapplication-square310x310logo" content!=meta.msapplicationSquare310x310logo)
      if meta.msapplicationNotification !== null
        meta(name="msapplication-notification" content!=meta.msapplicationNotification)
      if meta.msapplicationConfig !== null
        meta(name="msapplication-config" content!=meta.msapplicationConfig)
      if meta.themeColor !== null
        meta(name="theme-color" content!=meta.themeColor)

    block links
      if link.appleTouchIconPrecomposed !== null
        link(href!=link.appleTouchIconPrecomposed rel="apple-touch-icon-precomposed")
      if link.appleTouchIconPrecomposed40x40 !== null
        link(href!=link.appleTouchIconPrecomposed40x40 rel="apple-touch-icon-precomposed" sizes="40x40")
      if link.appleTouchIconPrecomposed57x57 !== null
        link(href!=link.appleTouchIconPrecomposed57x57 rel="apple-touch-icon-precomposed" sizes="57x57")
      if link.appleTouchIconPrecomposed58x58 !== null
        link(href!=link.appleTouchIconPrecomposed58x58 rel="apple-touch-icon-precomposed" sizes="58x58")
      if link.appleTouchIconPrecomposed60x60 !== null
        link(href!=link.appleTouchIconPrecomposed60x60 rel="apple-touch-icon-precomposed" sizes="60x60")
      if link.appleTouchIconPrecomposed72x72 !== null
        link(href!=link.appleTouchIconPrecomposed72x72 rel="apple-touch-icon-precomposed" sizes="72x72")
      if link.appleTouchIconPrecomposed76x76 !== null
        link(href!=link.appleTouchIconPrecomposed76x76 rel="apple-touch-icon-precomposed" sizes="76x76")
      if link.appleTouchIconPrecomposed80x80 !== null
        link(href!=link.appleTouchIconPrecomposed80x80 rel="apple-touch-icon-precomposed" sizes="80x80")
      if link.appleTouchIconPrecomposed87x87 !== null
        link(href!=link.appleTouchIconPrecomposed87x87 rel="apple-touch-icon-precomposed" sizes="87x87")
      if link.appleTouchIconPrecomposed114x114 !== null
        link(href!=link.appleTouchIconPrecomposed114x114 rel="apple-touch-icon-precomposed" sizes="114x114")
      if link.appleTouchIconPrecomposed120x120 !== null
        link(href!=link.appleTouchIconPrecomposed120x120 rel="apple-touch-icon-precomposed" sizes="120x120")
      if link.appleTouchIconPrecomposed144x144 !== null
        link(href!=link.appleTouchIconPrecomposed144x144 rel="apple-touch-icon-precomposed" sizes="144x144")
      if link.appleTouchIconPrecomposed152x152 !== null
        link(href!=link.appleTouchIconPrecomposed152x152 rel="apple-touch-icon-precomposed" sizes="152x152")
      if link.appleTouchIconPrecomposed167x167 !== null
        link(href!=link.appleTouchIconPrecomposed167x167 rel="apple-touch-icon-precomposed" sizes="167x167")
      if link.appleTouchIconPrecomposed180x180 !== null
        link(href!=link.appleTouchIconPrecomposed180x180 rel="apple-touch-icon-precomposed" sizes="180x180")
      if link.appleTouchIconPrecomposed1024x1024 !== null
        link(href!=link.appleTouchIconPrecomposed1024x1024 rel="apple-touch-icon-precomposed" sizes="1024x1024")
      if link.appleTouchIcon !== null
        link(href!=link.appleTouchIcon rel="apple-touch-icon")
      if link.appleTouchIcon40x40 !== null
        link(href!=link.appleTouchIcon40x40 rel="apple-touch-icon" sizes="40x40")
      if link.appleTouchIcon57x57 !== null
        link(href!=link.appleTouchIcon57x57 rel="apple-touch-icon" sizes="57x57")
      if link.appleTouchIcon58x58 !== null
        link(href!=link.appleTouchIcon58x58 rel="apple-touch-icon" sizes="58x58")
      if link.appleTouchIcon60x60 !== null
        link(href!=link.appleTouchIcon60x60 rel="apple-touch-icon" sizes="60x60")
      if link.appleTouchIcon72x72 !== null
        link(href!=link.appleTouchIcon72x72 rel="apple-touch-icon" sizes="72x72")
      if link.appleTouchIcon76x76 !== null
        link(href!=link.appleTouchIcon76x76 rel="apple-touch-icon" sizes="76x76")
      if link.appleTouchIcon80x80 !== null
        link(href!=link.appleTouchIcon80x80 rel="apple-touch-icon" sizes="80x80")
      if link.appleTouchIcon87x87 !== null
        link(href!=link.appleTouchIcon87x87 rel="apple-touch-icon" sizes="87x87")
      if link.appleTouchIcon114x114 !== null
        link(href!=link.appleTouchIcon114x114 rel="apple-touch-icon" sizes="114x114")
      if link.appleTouchIcon120x120 !== null
        link(href!=link.appleTouchIcon120x120 rel="apple-touch-icon" sizes="120x120")
      if link.appleTouchIcon144x144 !== null
        link(href!=link.appleTouchIcon144x144 rel="apple-touch-icon" sizes="144x144")
      if link.appleTouchIcon152x152 !== null
        link(href!=link.appleTouchIcon152x152 rel="apple-touch-icon" sizes="152x152")
      if link.appleTouchIcon167x167 !== null
        link(href!=link.appleTouchIcon167x167 rel="apple-touch-icon" sizes="167x167")
      if link.appleTouchIcon180x180 !== null
        link(href!=link.appleTouchIcon180x180 rel="apple-touch-icon" sizes="180x180")
      if link.appleTouchIcon1024x1024 !== null
        link(href!=link.appleTouchIcon1024x1024 rel="apple-touch-icon" sizes="1024x1024")
      if link.icon !== null
        link(href!=link.icon rel="icon")
      if link.icon16x16 !== null
        link(href!=link.icon16x16 rel="icon" sizes="16x16")
      if link.icon24x24 !== null
        link(href!=link.icon24x24 rel="icon" sizes="24x24")
      if link.icon32x32 !== null
        link(href!=link.icon32x32 rel="icon" sizes="32x32")
      if link.icon48x48 !== null
        link(href!=link.icon48x48 rel="icon" sizes="48x48")
      if link.icon64x64 !== null
        link(href!=link.icon64x64 rel="icon" sizes="64x64")
      if link.icon96x96 !== null
        link(href!=link.icon96x96 rel="icon" sizes="96x96")
      if link.icon128x128 !== null
        link(href!=link.icon128x128 rel="icon" sizes="128x128")
      if link.icon192x192 !== null
        link(href!=link.icon192x192 rel="icon" sizes="192x192")
      if link.icon194x194 !== null
        link(href!=link.icon194x194 rel="icon" sizes="194x194")
      if link.icon196x196 !== null
        link(href!=link.icon196x196 rel="icon" sizes="196x196")
      if link.icon256x256 !== null
        link(href!=link.icon256x256 rel="icon" sizes="256x256")
      if link.icon512x512 !== null
        link(href!=link.icon512x512 rel="icon" sizes="512x512")
      if link.manifest !== null
        link(href!=link.manifest rel="manifest")
      if link.maskIcon.href !== null
        link(href!=link.maskIcon.href rel="mask-icon" color=link.maskIcon.color)

    block styles
      link(href!=`css/main.min.css?v=${Date.now()}` rel="stylesheet")
    block head-end
      title #{title}

  body(class=body.classList)&attributes(body.attrs)
    .page-inner
      block header
        include ../partials/header
      block main
      block footer
        include ../partials/footer
      block scripts
        script(src!=`js/main.min.js?v=${Date.now()}`)
    block body-end
      include modals
